.section {
    width: 100%;
    /*display: flexbox;*/
    overflow: hidden;
}

/*Spin Section*/
.spin-section {
    position: relative;
    text-align: center;
    align-content: center;
    background-color: #f09130;
    height: 1184px;
    width: 50%;
}

.leave {
    height: 550px;
    width: 180px;
}

.spin-section h1 {
    position: absolute;
    top: 40%;
    margin: 0 70px 0 70px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: bolder;
}


/*History Section*/
.history-section {
    background-color: white;
    height: 1184px;
    width: 50%;
    padding-top: 100px;
}

.history-section p{
    font-size: 24px;
    margin-left: 120px; /* Center align the <p> block */
    /* margin-right: auto; Center align the <p> block */
    width: 67%; /* Control the width of the paragraph */
    text-align: left; /* Ensure text inside remains left-aligned */
}



/*frooti section*/
.section-two-img {
    width: 100%; /* Full width for the container */
    display: block;
    overflow: hidden; /* Prevents any overflow or scrollbars */
}

.frooti-img {
    width: 100%; /* Image fills the container's width */
    height: auto; /* Ensures the image keeps its aspect ratio */
}



/*Footer*/
footer {
    background-color: white;
    color: black;
    display: flex;
    height: 300px;
    padding: 50px;
    overflow: hidden;
}

.footer-section-2 ul {
    list-style-type: none; /* Removes bullet points from the list */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}

.footer-section-2 li, .footer-section-3 p {
    margin-bottom: 5px; /* Adds spacing between list items */
}

.bold {
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.bold:hover {
    text-decoration: underline; /* Adds underline on hover */
    opacity: 1;
    transition: 0.85s;
    color: red;
}





/*Media Queries*/
@media (max-width:768px) {
    .hero-img {
        padding-top: 69px; /* Adjust padding for smaller screens */
    }

    .main-img {
        width: 100%; /* Ensure full width on smaller screens */
        height: auto; /* Keep the aspect ratio */
    }

    .frooti-img {
        width: 100%; /* Ensure full width on smaller screens */
        height: auto; /* Keep the aspect ratio */
    }
}