* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.brand-logo {
    height: 26px;
}

.navbar {
    background-color: #0a0b27;
    position: fixed;
    z-index: 2;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 15px;
}

.navbar-toggler-icon {
    border: none;
}

.navbar-toggler {
    border: none;
    color: white;
}

.nav-link {
    width: 115px;
    font-size: 17px;
    color: white;
    transition: 1s;
}

.nav-link:hover {
    color: rgb(229, 63, 39);
    ;
}

.dropdown .dropdown-menu {
    margin-top: 15px;
    background-color: rgb(229, 63, 39);
    border-bottom: 6px solid rgb(1, 1, 42);
    border-radius: 0;
    padding: 10px 20px;
}

.dropdown-item {
    color: white;
    transition: 0.6s;
    padding: 5px 10px;
    font-size: 17px;
    display: block;
}

.multi-column {
    column-count: 2;
    column-gap: 30px;
    padding: 10px;
}

.dropdown-item:hover {
    color: black;
    background-color: rgb(229, 63, 39);
}


/*Hero Section*/
.hero-image {
    width: 100%;
    margin-top: 5px;
}

.split-container {
    height: 1184px;
}

.spin-section {
    background: rgb(240, 145, 48);
    margin: 0;
    padding: 0;
}

.spinner {
    height: 529px;
    width: 190px;
    margin-left: 260px;
    margin-top: 250px;
    transition: transform 0.01s ease;
    /* Smooth rotation */
    z-index: -1;
}

.live-text {
    margin-top: -350px;
    color: white;
    font-weight: 800;
    font-size: 80px;
    text-align: center;
    font-family: "EksellDisplayWeb-Small";
    margin-left: 200px;
    position: relative;
    width: 400px;

}

.history-section {
    background-color: rgb(255, 253, 250);
    margin: 0;
    padding: 0;
}

.history {
    margin-top: 150px;
    margin-left: 100px;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    width: 500px;
}

.social-links {
    margin-left: 100px;
}

.social-links a {
    text-decoration: none;
}


/*Frooti Section*/
.frooti-container {
    padding: 0;
    margin: 0;
    width: 100%;
}

.frooti-img {
    margin-top: -30px;
    width: 100%;
    display: block;
    margin: 0;
}


/*Footer*/
footer {
    padding-bottom: 30px;
}

.footer-section {
    margin-top: 40px;
    padding-left: 50px;
    font-weight: 500;
    font-size: 14px;
}

.links {
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
    opacity: 1;
    transition: 0.85s;
    color: red;
}


/*Media Query*/
@media (min-width:992px) and (max-width:1200px) {

    .nav-link {
        width: 100px !important;
        font-size: 14px !important;
    }

    .history {
        margin-top: 100px;
        width: 350px;
        font-size: 20px;
    }

    .spinner {
        margin-left: 210px;
        height: 100px;
        margin-top: 340px;
        height: 429px;
        width: 140px;
    }

    .live-text {
        margin-left: 140px;
        font-size: 36px;
        margin-top: -240px;
        width: 250px;
    }

}


@media (min-width:992px) and (max-width:1200px) {

    .nav-link {
        width: 100px !important;
        font-size: 14px !important;
    }

    .history {
        margin-top: 100px;
        width: 350px;
        font-size: 20px;
    }

    .spinner {
        margin-left: 210px;
        height: 100px;
        margin-top: 340px;
        height: 429px;
        width: 140px;
    }

    .live-text {
        margin-left: 140px;
        font-size: 36px;
        margin-top: -240px;
        width: 250px;
    }

}


@media (max-width:992px) {

    .history {
        margin-top: 100px;
        width: 350px;
        font-size: 20px;
    }

    .spinner {
        margin-left: 310px;
        height: 100px;
        margin-top: 340px;
        height: 429px;
        width: 140px;
    }

    .live-text {
        margin-left: 250px;
        font-size: 36px;
        margin-top: -240px;
        width: 250px;
    }

}

@media (max-width:768px) {

    .hero-image {
        margin-top: 70px;
    }

    .spin-section,
    .history-section {
        margin-bottom: 140px;
    }

    .live-text {
        font-size: 45px;
        margin-left: 230px;
        margin-top: 530px;
    }

    .spinner {
        height: 429px;
        width: 140px;
        margin-left: 300px;
        margin-bottom: -870px;
    }

    .history {
        width: 300px;
        font-size: 18px;
        margin-left: 60px;
    }

    .social-links {
        margin-left: 60px;
    }

}

@media (min-width:550px) and (max-width:760px) {

    .live-text {
        font-size: 45px;
        margin-left: 200px;
        margin-top: 530px;
    }

    .spinner {
        height: 429px;
        width: 140px;
        margin-left: 240px;
        margin-bottom: -870px;
    }

    .history {
        width: 300px;
        font-size: 18px;
        margin-left: 60px;
    }

    .social-links {
        margin-left: 60px;
    }

}


@media (max-width:550px) {

    .spinner {
        margin-left: 240px;
        height: 160px;
        width: 70px;
        margin-top: 170px;
    }

    .live-text {
        margin-left: 170px;
        font-size: 22px;
        margin-top: 500px;
        width: 200px;
    }

    .history {
        font-size: 18px;
        width: 250px;
    }

}

@media (max-width:450px) {

    .spinner {
        margin-left: 200px;
    }

    .live-text {
        margin-left: 125px;
        font-size: 14px;
    }

}


@media (max-width:380px) {

    .spinner {
        margin-left: 150px;
    }

    .live-text {
        margin-left: 75px;
    }

}